@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/

body {
  padding-top: 100px;
  --key-color: #C60000;
  --sub-color: #C60000;
  scroll-behavior: smooth;
  padding-top: 72px;
}

@media screen and (max-width: 768px) {
  body{
    padding-top: 57px;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

h1 a img{
  padding: 0;
  height: 35px;
}

/*-------------------------
  トップ
-------------------------*/

.topics p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-align: justify;
}

.btn-primary {
  background-color: var(--key-color);
  border: 1px solid var(--key-color);
}

.btn-primary:hover {
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
}

footer a{
  color: #C60000;
}

footer a:hover{
  color:#7e349d;
}

.topics .col-lg-4 {
  scroll-margin-top: 50vw;
}

.container.topics > ul > li:nth-of-type(3) > img {
  width: 200px;
  height: 200px;
}
